<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="class-view">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="ctc : ${ctcRelations}">

                <!-- Relation type and related class item menu -->
                <div th:if="${ctc.firstClass.id == class.id}">
                    <span th:text="${ctc.relationType.toLaTeX(false)}"></span>
                    <a th:text="${ctc.secondClass.name}" th:href="@{${ctc.secondClass.path}}"></a>
                </div>
                <div th:if="${ctc.secondClass.id == class.id}">
                    <span th:text="${ctc.relationType.toLaTeX(true)}"></span>
                    <a th:text="${ctc.firstClass.name}" th:href="@{${ctc.firstClass.path}}"></a>
                </div>

                <!-- Buttons -->
                <div class="btn-menu">
                    <a class="btn btn-secondary btn-sm btn-icon" th:href="@{'/relations/ctc/' + ${ctc.id}}"><i
                            class="bi bi-file-earmark-check"></i><span>View proof</span></a>
                    <form action="#"
                        th:action="@{/relations/ctc/{relationId}/delete(redirect=${class.path}, relationId=${ctc.id})}"
                        th:method="delete">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                    </form>
                </div>
            </li>
        </ul>
    </th:block>
</body>

</html>