<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="problem-view">
        <div class="row row-cols-1 row-cols-lg-3 g-3" th:unless="${parameterizations.isEmpty()}">
            <div class="col" th:each="parameterization : ${parameterizations}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${parameterization.parameter}"></h5>
                        <div class="description-short">
                            <span th:utext="${parameterization.description}"></span>
                        </div>
                        <a class="btn btn-secondary mt-2"
                            th:href="@{'/problems/' + ${parameterization.parent.id} + '/params/' + ${parameterization.id}}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>