<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="class-view">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="ctp : ${ctpRelations}">
                <a th:text="${ctp.problem.name}" th:href="@{'/problems/' + ${ctp.problem.id}}"></a>
                <div class="bg-secondary rounded-pill px-2 reference-link">
                    <i class="bi bi-file-earmark-check"></i>
                    <a th:href="${ctp.reference}" th:text="${ctp.reference}" target="_blank"></a>
                </div>
                <form action="#"
                    th:action="@{/ctp-relations/{relationId}/delete(redirect='/classes/' + ${class.id}, relationId=${ctp.id})}"
                    th:method="delete">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                </form>
            </li>
        </ul>
    </th:block>

    <th:block th:fragment="problem-view">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="ctp : ${ctpRelations}">
                <a th:text="${ctp.complexityClass.name}" th:href="@{'/classes/' + ${ctp.complexityClass.id}}"></a>
                <div class="bg-secondary rounded-pill px-2 reference-link">
                    <i class="bi bi-file-earmark-check"></i>
                    <a th:href="${ctp.reference}" th:text="${ctp.reference}" target="_blank"></a>
                </div>
                <form action="#"
                    th:action="@{/ctp-relations/{relationId}/delete(redirect='/problems/' + ${problem.id}, relationId=${ctp.id})}"
                    th:method="delete">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                </form>
            </li>
        </ul>
    </th:block>
</body>

</html>