<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="class-view">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="ctp : ${ctpRelations}">
                <div>
                    <th:block th:switch="${ctp.relationType.name()}">
                        <span th:case="'IN'">$\ni$</span>
                        <span th:case="'NOT_IN'">$\not\ni$</span>
                    </th:block>
                    <a th:text="${ctp.problem.name}" th:href="@{${ctp.problem.path}}"></a>
                </div>
                <div class="btn-menu">
                    <a class="btn btn-secondary btn-sm btn-icon" th:href="@{/relations/ctp/{relationId}(relationId=${ctp.id})}"><i
                            class="bi bi-file-earmark-check"></i><span>View proof</span></a>
                    <form action="#"
                        th:action="@{/relations/ctp/{relationId}/delete(redirect=${class.path}, relationId=${ctp.id})}"
                        th:method="delete" sec:authorize="isAuthenticated()">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                    </form>
                </div>
            </li>
        </ul>
    </th:block>

    <th:block th:fragment="problem-view">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="ctp : ${ctpRelations}">
                <div>
                    <th:block th:switch="${ctp.relationType.name()}">
                        <span th:case="'IN'">$\in$</span>
                        <span th:case="'NOT_IN'">$\notin$</span>
                    </th:block>
                    <a th:text="${ctp.complexityClass.name}" th:href="@{${ctp.complexityClass.path}}"></a>
                </div>
                <div class="btn-menu">
                    <a class="btn btn-secondary btn-sm btn-icon" th:href="@{/relations/ctp/{relationId}(relationId=${ctp.id})}"><i
                            class="bi bi-file-earmark-check"></i><span>View proof</span></a>
                    <form action="#"
                        th:action="@{/relations/ctp/{relationId}/delete(redirect=${problem.path}, relationId=${ctp.id})}"
                        th:method="delete" sec:authorize="isAuthenticated()">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                    </form>
                </div>
            </li>
        </ul>
    </th:block>
</body>

</html>