<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="class-view">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/relations/ctp/new/save(redirect=${class.path}, classId=${class.id})}" method="post">

                    <!-- Modal header -->
                    <div class="modal-header d-flex align-items-center justify-content-center">
                        <span class="badge badge-prob fs-2"><i class="bi bi-braces"></i></span>
                        <h5 class="modal-title ms-3">Add problem</h5>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mb-3 align-items-center g-3">
                            <div class="col">
                                <!-- Select problem -->
                                <select id="nocreate" name="problemId" required>
                                    <option value="">Problem</option>
                                    <th:block th:each="p : ${ctpCandidates}">
                                        <option th:value="${p.id}" th:text="${p.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col">
                                <!-- Select relation type -->
                                <select id="nocreate" name="relationType" class="dropdown" data-bs-toggle="dropdown"
                                    required>
                                    <div class="dropdown-menu">
                                        <option value="">Relation type</option>
                                        <option value="IN">is an element of</option>
                                        <option value="NOT_IN">isn't an element of</option>
                                    </div>
                                </select>
                            </div>
                            <div class="col-auto">
                                <span class="fw-bold" th:text="${class.name}"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="modal-footer">
                        <div class="btn-menu">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="problem-view">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/relations/ctp/new/save(redirect=${problem.path}, problemId=${problem.id})}"
                    method="post">

                    <!-- Modal header -->
                    <div class="modal-header d-flex align-items-center justify-content-center">
                        <span class="badge badge-prob fs-2"><i class="bi bi-braces"></i></span>
                        <h5 class="modal-title ms-3">Add complexity class</h5>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mb-3 align-items-center g-3">

                            <div class="col-auto">
                                <span class="fw-bold" th:text="${problem.name}"></span>
                            </div>

                            <div class="col">
                                <!-- Select relation type -->
                                <select id="nocreate" name="relationType" class="dropdown" data-bs-toggle="dropdown"
                                    required>
                                    <div class="dropdown-menu">
                                        <option value="">Relation type</option>
                                        <option value="IN">is an element of</option>
                                        <option value="NOT_IN">isn't an element of</option>
                                    </div>
                                </select>
                            </div>

                            <div class="col">
                                <!-- Select complexity class -->
                                <select id="nocreate" name="classId" required>
                                    <option value="">Complexity class</option>
                                    <th:block th:each="c : ${ctpCandidates}">
                                        <option th:value="${c.id}" th:text="${c.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <!-- Reference with TinyMCE -->
                        <textarea class="form-control" placeholder="Reference" name="Reference"
                            id="description-editor"></textarea>
                        <th:block th:replace="fragments/tinyeditors :: description-editor"></th:block>
                    </div>

                    <!-- Buttons -->
                    <div class="modal-footer">
                        <div class="btn-menu">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</body>

</html>