<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
  <th:block th:fragment="content">
    <form th:action="@{/classes/{id}/edit/save(id=${class.id})}" th:object="${class}" method="post">
      <textarea id="description-editor" placeholder="Complexity class description" th:field="*{description}">
      </textarea>
      <th:block th:replace="fragments/tinyeditors :: description-editor"></th:block>
      <div class="btn-menu mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletionModal">
          Delete
        </button>
      </div>
    </form>

    <!-- Deletion modal -->
    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <p>Do you really want to delete complexity class "<span th:text="${class.name}"></span>"? This step can't be undone.</p>
            <div class="btn-menu">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form action="#" th:action="@{'edit/delete'(id=${class.id})}" th:method="delete">
                <button type="submit" class="btn btn-danger">Delete complexity class</button>
              </form>
            </div>
          </div>
            
        </div>
      </div>
    </div>
  </th:block>
</body>

</html>