<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
   <th:block th:fragment="content">
       <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form th:action="@{/classes/add}" th:object="${newclass}" method="post">
            <div class="form-floating">
                <input type="text" maxlength="255" class="form-control" id="inputName"
                    placeholder="Name" name="name" required autofocus>
                <label for="inputName">Name</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Description" name="description" id="inputDescription" style="height: 100px"></textarea>
                <label for="inputDescription">Description</label>
              </div>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </form>
      </div>
    </div>
        <th:block th:each="class : ${classes}">
            <a th:href="@{'/classes/' + ${class.id}}">
                <span th:text="${class.name}"></span>
            </a>
            <form action="#" th:action="@{'/classes/{id}/delete'(id=${class.id})}" th:method="delete" >
                <button type="submit" class="btn btn-danger">
                    Delete
                </button>
            </form>
        </th:block>
        <th:block th:if="${classes.isEmpty()}">
            <p class="alert alert-secondary">Empty</p>
        </th:block>

        
   </th:block>
</body>

</html>