<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="list">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="r : ${relations}">
                <div th:if="${r.firstClass.id == class.id}">
                    <th:block th:switch="${r.type.name()}">
                        <span th:case="'EQUAL_TO'">$=$</span>
                        <span th:case="'SUBSET_OF'">$\subseteq$</span>
                        <span th:case="'PROPER_SUBSET_OF'">$\subset$</span>
                        <span th:case="'SUPERSET_OF'">$\supseteq$</span>
                        <span th:case="'PROPER_SUPERSET_OF'">$\supset$</span>
                    </th:block>
                    <a th:text="${r.secondClass.name}" th:href="@{'' + ${r.secondClass.id}}"></a>
                </div>
                <div th:if="${r.secondClass.id == class.id}">
                    <th:block th:switch="${r.type.name()}">
                        <span th:case="'EQUAL_TO'">$=$</span>
                        <span th:case="'SUBSET_OF'">$\supseteq$</span>
                        <span th:case="'PROPER_SUBSET_OF'">$\supset$</span>
                        <span th:case="'SUPERSET_OF'">$\subseteq$</span>
                        <span th:case="'PROPER_SUPERSET_OF'">$\subset$</span>
                    </th:block>
                    <a th:text="${r.firstClass.name}" th:href="@{'' + ${r.firstClass.id}}"></a>
                </div>
                <form action="#"
                    th:action="@{'{classId}/relation/{relationId}/delete'(classId=${class.id}, relationId=${r.id})}"
                    th:method="delete">
                    <button type="submit" class="btn btn-danger btn-sm ms-1"><i class="bi bi-trash3 fs-5"></i></button>
                </form>
            </li>
        </ul>
    </th:block>
</body>

</html>