<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
   <th:block th:fragment="content">
      <p class="alert alert-success" th:if="${param.success}">Successfully created complexity class. Edit it here or <a th:href="@{/classes}">go back</a> to add more.</p>
      <p class="alert alert-danger" th:if="${param.redir}">You've been redirected here because a class with this name already exists.</p>
      <p th:text="${class.description}"></p>
   </th:block>
</body>

</html>