<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="@{${title} + ' - ComplexityZoo++'}"></title>

	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0-beta1/dist/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.8.1/font/bootstrap-icons.css}" />

	<!-- jQuery -->
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

	<!-- KaTeX CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
		integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">

	<!-- The loading of KaTeX is deferred to speed up page rendering -->
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
		integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous">
		</script>

	<!-- To automatically render math in text elements, include the auto-render extension: -->
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js"
		integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous">
		</script>

	<!-- TinyMCE -->
	<script th:src="@{/webjars/tinymce/6.0.1/tinymce.min.js}" referrerpolicy="origin"></script>

	<!-- To render code blocks: -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/prism.css}">
	<script th:src="@{/js/prism.js}"></script>

	<!-- Selectize.js -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap5.min.css"
		integrity="sha512-w4sRMMxzHUVAyYk5ozDG+OAyOJqWAA+9sySOBWxiltj63A8co6YMESLeucKwQ5Sv7G4wycDPOmlHxkOhPW7LRg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/standalone/selectize.min.js"
		integrity="sha512-JFjt3Gb92wFay5Pu6b0UCH9JIOkOGEfjIi7yykNWUwj55DBBp79VIJ9EPUzNimZ6FvX41jlTHpWFUQjog8P/sw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/bs-custom.css}" />
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>

<body>
	<div class="d-lg-flex d-block">
		<div class="col-lg-auto bg-light p-2">
			<!-- Navbar -->
			<th:block th:replace="fragments/navbar :: navbar"></th:block>
		</div>
		<div class="col p-2" style="min-height: 100vh">
			<div class="container-fluid">
			<!-- Content -->
				<h1 th:text="${title}"></h1>
				<th:block th:include="this :: content"></th:block>
			</div>
		</div>
	</div>

	<!-- LaTeX rendering script -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			renderMathInElement(document.body, {
				// auto-render specific keys
				delimiters: [{
					left: '$$',
					right: '$$',
					display: true
				},
				{
					left: '$',
					right: '$',
					display: false
				}
				],
				// rendering keys
				throwOnError: false
			});
		});
	</script>

	<!-- Selectize script without "create" option -->
	<script>
		$(function () {
			$("select#nocreate").selectize({
				highlight: false
			});
		});
	</script>

	<!-- Selectize script with "create" option -->
	<script>
		$(function () {
			$("select#create").selectize({
				highlight: false,
				create: true
			});
		});
	</script>

	<!-- Bootstrap JS -->
	<script th:src="@{/webjars/bootstrap/5.2.0-beta1/dist/js/bootstrap.bundle.min.js}">
	</script>
</body>

</html>