<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="problem-view">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between"
                th:each="ptp : ${ptpRelations}">
                <a th:href="@{'/problems/' + ${ptp.secondProblem.id}}" th:text="${ptp.secondProblem.name}"></a>
                <span th:text="${ptp.type}"></span>
                <div class="bg-secondary rounded-pill px-2 reference-link">
                    <i class="bi bi-file-earmark-check"></i>
                    <a th:href="${ptp.reference}" th:text="${ptp.reference}" target="_blank"></a>
                </div>
                <form action="#"
                    th:action="@{/ptp-relations/{relationId}/delete(redirect='/problems/' + ${problem.id}, relationId=${ptp.id})}"
                    th:method="delete">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                </form>
            </li>
        </ul>
    </th:block>
</body>

</html>