<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
    <th:block th:fragment="content">
        <form th:action="@{/problems/new/save}" th:object="${newclass}" method="post">

            <!-- Name -->
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" maxlength="255" class="form-control" id="inputName" placeholder="Name"
                        name="name" required autofocus>
                    <label for="inputName">Name</label>
                </div>
            </div>

            <!-- Description with TinyMCE -->
            <textarea class="form-control" placeholder="Description" name="description"
                id="description-editor"></textarea>
            <th:block th:replace="fragments/tinyeditors :: description-editor"></th:block>

            <!-- Buttons -->
            <div class="btn-menu mb-3">
                <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </th:block>
</body>

</html>