<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
   <th:block th:fragment="content">
      <p class="alert alert-success" th:if="${param.success}">Successfully created relation. Edit it here to add proof.
      </p>
      <div class="alert alert-warning" th:if="${altpath != null}">
         We've found a path between <span th:text="${relation.first.name}"></span> and <span
            th:text="${relation.second.name}"></span> that does not match the relation you've just created. Click on a node or a relation to examine the path.
         <div class="d-flex gap-2">
            <a th:href="@{${relation.first.path}}" target="_blank" class="bg-secondary rounded-pill px-3 py-1"
               th:text="${relation.first.name}"></a>
            <th:block th:each="r : ${altpath.path}">
               <a th:href="@{${r.path}}" target="_blank" class="py-1" th:text="${r.relationType.toLaTeX()}"></a>
               <a th:href="@{${r.second.path}}" target="_blank" class="bg-secondary rounded-pill px-3 py-1"
                  th:text="${r.second.name}"></a>
            </th:block>
         </div>
         <div class="d-flex gap-2 mt-1 align-items-center">
            <i class="bi bi-arrow-return-right"></i>
            <a th:href="@{${relation.first.path}}" class="bg-secondary rounded-pill px-3 py-1"
               th:text="${relation.first.name}"></a>
            <span class="py-1" th:text="${altpath.interpretedType.toLaTeX()}"></span>
            <a th:href="@{${relation.second.path}}" class="bg-secondary rounded-pill px-3 py-1"
               th:text="${relation.second.name}"></a>
         </div>
      </div>

      <div class="d-flex gap-2">
         <a th:href="@{${relation.first.path}}" class="bg-secondary rounded-pill px-3 py-1"
            th:text="${relation.first.name}"></a>
         <span class="py-1" th:text="${relationTypeString}"></span>
         <a th:href="@{${relation.second.path}}" class="bg-secondary rounded-pill px-3 py-1"
            th:text="${relation.second.name}"></a>
      </div>

      <!-- Description -->
      <p th:utext="${relation.reference}"></p>
      <a class="btn btn-secondary mb-3" th:href="@{${relation.path} + '/edit'}"
         sec:authorize="isAuthenticated()">Edit</a>
   </th:block>
</body>

</html>